.slider{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.slides img {
    display: none;
    width: 100%;
    object-fit: cover;
}

.displaySlide {
    display: block !important;
}
.slider button {
    position: relative;
    height:100%;
    font-size: 2em;
    padding: 10px 15px;
    background-color: rgba(83, 83, 83, 0.67);
    color: white;
    border: none;
    cursor: pointer;
}
button.prev{
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}
button.next{
    border-top-right-radius:100px;
    border-bottom-right-radius: 100px;
}


@keyframes fade {
    from {
        opacity: 0.6;
    }
    to {
        opacity: 1;
    }
}