.property-list {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 12px;
}

.property-desc {
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    padding: 15px;
    margin-bottom: 15px;
    background-color: #ffffff;
}

.property-desc h3 {
    margin: 0 0 10px;
}

.property-desc p {
    margin: 5px 0;
}
.property-desc form{
    display: inline-block;
}
.property-desc button{
    margin-right: 20px;
    margin-top: 20px;
    font-size: 1.3em;
    border-radius: 8px;
    border: none;
    padding: 5px 7px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}
.edit-button{
    background-color: var(--accent-color);
    color: #fff;
}

.edit-button:hover {
    background-color: rgba(39, 174, 96, 0.9);
}

.edit-button:active{
    background-color: rgba(39, 174, 96, 0.8);
}

.slider{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.slides img {
    display: none;
    width: 100%;
    object-fit: cover;
}

.displaySlide {
    display: block !important;
}
.slider button {
    position: relative;
    height:100%;
    font-size: 2em;
    padding: 10px 15px;
    background-color: rgba(83, 83, 83, 0.67);
    color: white;
    border: none;
    cursor: pointer;
}
button.prev{
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}
button.next{
    border-top-right-radius:100px;
    border-bottom-right-radius: 100px;
}


@keyframes fade {
    from {
        opacity: 0.6;
    }
    to {
        opacity: 1;
    }
}